[Desktop Entry]
Type=Theme
Name=6 x 8" (1 photo 4 x 6" and 2 photos 2 x 3")
Name[bg]=6 x 8" (1 снимка 4 x 6" и 2 снимки 2 x 3")
Name[ca]=6 x 8" (1 fotografia 4 x 6" i 2 fotografies 2 x 3")
Name[ca@valencia]=6 x 8" (1 fotografia 4 x 6" i 2 fotografies 2 x 3")
Name[en_GB]=6 x 8" (1 photo 4 x 6" and 2 photos 2 x 3")
Name[es]=6x8" (1 foto de 4x6" y 2 fotos de 2x3")
Name[it]=6 x 8" (1 foto 4 x 6" e 2 foto 2 x 3")
Name[ka]=6 x 8" (1 სურათი 4 x 6" and 2 სურათი 2 x 3")
Name[nl]=6 x 8" (1 foto 4 x 6" en 2 foto's 2 x 3")
Name[pl]=6 x 8" (1 zdjęcie 4 x 6" oraz 2 zdjęcia 2 x 3")
Name[pt]=6 x 8" (1 fotografia 4 x 6" e 2 fotografias 2 x 3")
Name[sl]=6 x 8" (1 slika 4 x 6" in 2 sliki 2 x 3")
Name[uk]=6×8" (1 фотографія 4×6" і 2 фотографії 2×3")
Name[x-test]=xx6 x 8" (1 photo 4 x 6" and 2 photos 2 x 3")xx

