[Desktop Entry]
Type=Theme
Name=6 x 8" (2 photos 4 x 6")
Name[bg]=6 x 8" (2 снимки 4 x 6")
Name[ca]=6 x 8" (2 fotografies 4 x 6")
Name[ca@valencia]=6 x 8" (2 fotografies 4 x 6")
Name[en_GB]=6 x 8" (2 photos 4 x 6")
Name[es]=6x8" (2 fotos de 4x6")
Name[it]=6 x 8" (2 foto 4 x 6")
Name[ka]=6 x 8" (2 სურათი 4 x 6")
Name[nl]=6 x 8" (2 foto's 4 x 6")
Name[pl]=6 x 8" (2 zdjęcia 4 x 6")
Name[pt]=6 x 8" (2 fotografias 4 x 6")
Name[sl]=6 x 8" (2 sliki 4 x 6")
Name[uk]=8×6" (2 фотографії 4×6")
Name[x-test]=xx6 x 8" (2 photos 4 x 6")xx

