[Desktop Entry]
Type=Theme
Name=6 x 8" (4 photos 2.5 x 3.5")
Name[bg]=6 x 8" (4 снимки 2.5 x 3.5")
Name[ca]=6 x 8" (4 fotografies 2,5 x 3,5")
Name[ca@valencia]=6 x 8" (4 fotografies 2,5 x 3,5")
Name[en_GB]=6 x 8" (4 photos 2.5 x 3.5")
Name[es]=6x8" (4 fotos de 2,5x3,5")
Name[it]=6 x 8" (4 foto 2,5 x 3,5")
Name[ka]=6 x 8" (4 სურათი 2.5 x 3.5")
Name[nl]=6 x 8" (4 foto's 2.5 x 3.5")
Name[pl]=6 x 8" (4 zdjęcia 2.5 x 3.5")
Name[pt]=6 x 8" (4 fotografias 2,5 x 3,5")
Name[sl]=6 x 8" (4 slike 2.5 x 3.5")
Name[uk]=6×8" (4 фотографії 2.5×3.5")
Name[x-test]=xx6 x 8" (4 photos 2.5 x 3.5")xx

